<div style="display: block; width: 880px; height:500px;">
  <canvas baseChart 
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          ></canvas>
</div>
<div class="col-md-6" style="margin-bottom: 10px">
  <table class="table table-responsive table-condensed">
    <tr>
      <th *ngFor="let label of pieChartLabels">{{label}}</th>
    </tr>
    <tr>
    <td *ngFor="let d of pieChartData">{{d}}</td>
    </tr>
  </table>
  <button (click)="randomize()">Random Data</button>
</div>
